.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color: #fff;
    position: sticky;
}

.nav-left .nav-logo {
    font-size: 24px;
    font-weight: bold;
    color:#333;
    text-decoration: none;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-right .nav-menu li a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-right .nav-menu li a:hover {
    background-color: #cdefd5;
}

.search-bar {
    padding: 5px;
    border: none;
    border-radius: 4px;
    border: #333 solid;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.login-btn, .signup-btn {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-btn:hover, .signup-btn:hover {
    background-color:#cdefd5 ;
}